@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,700&family=Poppins:wght@700&display=swap');


$Pink: hsl(322, 100%, 66%);
$LightPink: hsl(321, 100%, 78%);
$LightRed: hsl(0, 100%, 63%);
$Very-Dark-Cyan: hsl(192, 100%, 9%);
$Very-Pale-Blue: hsl(207, 100%, 98%);
$white: #fff;
$Body-font: 'Open Sans', sans-serif;
$Headings-font: 'Poppins', sans-serif;