@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,700&family=Poppins:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  color: hsl(192deg, 100%, 9%);
}

.main-container {
  width: 375px;
  margin: 0 auto 25px;
}
@media (min-width: 1440px) {
  .main-container {
    width: 1440px;
    height: unset;
    font-size: unset;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0;
  margin: 25px auto 100px;
}
@media (min-width: 1440px) {
  .navbar {
    width: 1300px;
    height: unset;
    font-size: unset;
  }
}
.navbar__logo {
  width: 95px;
  height: 16px;
}
@media (min-width: 1440px) {
  .navbar__logo {
    width: 240px;
    height: 38px;
    font-size: unset;
  }
}
.navbar__button {
  background-color: #fff;
  border: none;
  border: 1px solid hsl(321deg, 100%, 78%);
  border-radius: 50px;
  color: hsl(321deg, 100%, 78%);
  font-weight: 700;
  display: block;
  width: 80px;
  height: 24px;
}
@media (min-width: 1440px) {
  .navbar__button {
    width: 134px;
    height: 42px;
    font-size: unset;
  }
}
.navbar__button:hover {
  background-color: hsl(321deg, 100%, 78%);
  color: #fff;
  cursor: pointer;
}

.header__title, .section-your-comunity__title {
  font-family: "Poppins", sans-serif;
  text-align: center;
  width: 265px;
  margin: 0 auto 36px;
  font-size: 1.48em;
}
@media (min-width: 1440px) {
  .header__title, .section-your-comunity__title {
    width: 1010px;
    height: unset;
    font-size: 2.98em;
  }
}
.header__description {
  text-align: center;
  margin: 0 auto 49px;
  font-weight: 600;
  font-size: 0.8em;
  width: 290px;
}
@media (min-width: 1440px) {
  .header__description {
    width: 590px;
    height: 80px;
    font-size: 1.25em;
  }
}
.header__button, .section-your-comunity__button {
  background-color: hsl(322deg, 100%, 66%);
  border: none;
  border: 1px solid unset;
  border-radius: 50px;
  color: hsl(207deg, 100%, 98%);
  font-weight: 700;
  display: block;
  width: 200px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 80px;
}
.header__button:hover, .section-your-comunity__button:hover {
  background-color: hsl(321deg, 100%, 78%);
  color: #fff;
  cursor: pointer;
}
@media (min-width: 1440px) {
  .header__button, .section-your-comunity__button {
    width: 400px;
    height: 80px;
    font-size: 1.25em;
  }
}
.header__screen-mockups {
  display: block;
  width: 300px;
  margin: 0 auto 138px;
}
@media (min-width: 1440px) {
  .header__screen-mockups {
    width: 1020px;
    height: 725px;
    font-size: unset;
  }
}

.section-statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(unset), url("../images/bg-section-top-mobile-1.svg");
  background-repeat: no-repeat, no-repeat;
  background-position-y: top, bottom;
}
@media screen and (min-width: 1440px) {
  .section-statistics {
    flex-direction: row;
    justify-content: space-around;
    height: 800px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1440px) {
  .section-statistics {
    background-image: url(unset), url("../images/bg-section-top-desktop-1.svg");
  }
}
.section-statistics .comunities {
  margin-bottom: 98px;
}
.section-statistics .comunities__logo {
  width: 32px;
}
.section-statistics .comunities__statistics {
  font-size: 4em;
}
.section-statistics .comunities__description {
  font-size: 0.8em;
  text-align: center;
}
@media (min-width: 1440px) {
  .section-statistics .comunities__logo {
    width: 50px;
  }
  .section-statistics .comunities__statistics {
    font-size: 6em;
  }
  .section-statistics .comunities__description {
    font-size: 1.5em;
  }
}
.section-statistics .messages {
  margin-bottom: 98px;
}
.section-statistics .messages__logo {
  width: 24px;
}
.section-statistics .messages__statistics {
  font-size: 4em;
}
.section-statistics .messages__description {
  font-size: 0.8em;
  text-align: center;
  margin: auto;
  width: 69px;
}
@media (min-width: 1440px) {
  .section-statistics .messages__logo {
    width: 42px;
  }
  .section-statistics .messages__statistics {
    font-size: 6em;
  }
  .section-statistics .messages__description {
    font-size: 1.5em;
  }
}

.section-grow-together {
  background-color: hsl(207deg, 100%, 98%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 180px 0;
}
.section-grow-together .image-container__illustration {
  width: 246px;
  margin-bottom: 78px;
}
.section-grow-together .description__title {
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 12px;
}
.section-grow-together .description__content {
  text-align: center;
  font-size: 0.9em;
  width: 330px;
}
@media screen and (min-width: 1440px) {
  .section-grow-together {
    flex-direction: row;
    justify-content: space-around;
    flex-direction: row-reverse;
    height: 800px;
    margin-bottom: 0px;
    width: 100%;
  }
  .section-grow-together .image-container__illustration {
    width: 527px;
    margin-bottom: 78px;
  }
  .section-grow-together .description__title {
    font-family: "Poppins", sans-serif;
    font-size: 2.3em;
    text-align: left;
    margin-bottom: 12px;
  }
  .section-grow-together .description__content {
    text-align: left;
    font-size: 1em;
    width: 495px;
  }
}

.section-flowing-conversations {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 180px 0;
  background-image: url("../images/bg-section-bottom-mobile-1.svg"), url("../images/bg-section-top-mobile-2.svg");
  background-repeat: no-repeat, no-repeat;
  background-position-y: top, bottom;
}
.section-flowing-conversations .image-container__illustration {
  width: 246px;
  margin-bottom: 78px;
}
.section-flowing-conversations .description__title {
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 12px;
}
.section-flowing-conversations .description__content {
  text-align: center;
  font-size: 0.9em;
  width: 330px;
}
@media screen and (min-width: 1440px) {
  .section-flowing-conversations {
    flex-direction: row;
    justify-content: space-around;
    flex-direction: row;
    height: 800px;
    margin-bottom: 0px;
    width: 100%;
  }
  .section-flowing-conversations .image-container__illustration {
    width: 527px;
    margin-bottom: 78px;
  }
  .section-flowing-conversations .description__title {
    font-family: "Poppins", sans-serif;
    font-size: 2.3em;
    text-align: left;
    margin-bottom: 12px;
  }
  .section-flowing-conversations .description__content {
    text-align: left;
    font-size: 1em;
    width: 495px;
  }
}
@media screen and (min-width: 1440px) {
  .section-flowing-conversations {
    background-image: url("../images/bg-section-bottom-desktop-1.svg"), url("../images/bg-section-top-desktop-2.svg");
  }
}

.section-your-users {
  background-color: hsl(207deg, 100%, 98%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 180px 0;
}
.section-your-users .image-container__illustration {
  width: 246px;
  margin-bottom: 78px;
}
.section-your-users .description__title {
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 12px;
}
.section-your-users .description__content {
  text-align: center;
  font-size: 0.9em;
  width: 330px;
}
@media screen and (min-width: 1440px) {
  .section-your-users {
    flex-direction: row;
    justify-content: space-around;
    flex-direction: row-reverse;
    height: 800px;
    margin-bottom: 0px;
    width: 100%;
  }
  .section-your-users .image-container__illustration {
    width: 527px;
    margin-bottom: 78px;
  }
  .section-your-users .description__title {
    font-family: "Poppins", sans-serif;
    font-size: 2.3em;
    text-align: left;
    margin-bottom: 12px;
  }
  .section-your-users .description__content {
    text-align: left;
    font-size: 1em;
    width: 495px;
  }
}

.section-your-comunity {
  height: 600px;
  padding-top: 250px;
  background-image: url("../images/bg-section-bottom-mobile-2.svg"), url("../images/bg-footer-top-mobile.svg");
  background-repeat: no-repeat, no-repeat;
  background-position-y: top, bottom;
}
@media screen and (min-width: 1440px) {
  .section-your-comunity {
    background-image: url("../images/bg-section-bottom-desktop-2.svg"), url("../images/bg-footer-top-desktop.svg");
  }
}

@media screen and (min-width: 1440px) {
  .section-your-comunity {
    height: 750px;
  }
}
.main-container__footer-wave {
  margin-bottom: -6px;
  width: 100%;
}

.newsletter {
  background-color: hsl(192deg, 100%, 9%);
  color: hsl(207deg, 100%, 98%);
  margin-top: -1px;
  padding: 70px 24px 40px;
}

@media screen and (min-width: 1440px) {
  .newsletter {
    display: flex;
    flex-direction: row-reverse;
    gap: 200px;
    padding: 70px 116px 40px;
  }
}
.newsletter-contact__logo-huddle {
  width: 206px;
  margin-bottom: 18px;
}
.newsletter-contact__huddle-description {
  font-size: 0.95em;
  margin-bottom: 28px;
}
.newsletter-contact__phone-container {
  margin-bottom: 15px;
}
.newsletter-contact__email-container {
  margin-bottom: 50px;
}
.newsletter-contact__anchor {
  margin-left: 20px;
}
.newsletter-contact__social-container {
  width: 110px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.newsletter-contact__newsletter__social-icon:hover {
  background-color: hsl(321deg, 100%, 78%);
  color: #fff;
  cursor: pointer;
}

@media screen and (min-width: 1440px) {
  .newsletter-contact__logo-huddle {
    width: 250px;
  }
  .newsletter-contact__huddle-description {
    font-size: 1.1em;
    width: 370px;
  }
}
.newsletter-subscription__title {
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 28px;
}
.newsletter-subscription__description {
  font-size: 0.95em;
  margin-bottom: 28px;
}
.newsletter-subscription__input {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 8px;
  margin-bottom: 16px;
}
.newsletter-subscription__submit-container {
  display: flex;
  justify-content: flex-end;
}
.newsletter-subscription__submit {
  width: 160px;
  height: 50px;
  border: none;
  border-radius: 8px;
  background-color: hsl(322deg, 100%, 66%);
  color: hsl(207deg, 100%, 98%);
  font-weight: 700;
  font-size: 1.05em;
  margin-bottom: 100px;
}
.newsletter-subscription__submit:hover {
  background-color: hsl(321deg, 100%, 78%);
  color: #fff;
  cursor: pointer;
}

@media screen and (min-width: 1440px) {
  .newsletter-subscription {
    display: flex;
    width: 580px;
    height: 238px;
  }
  .newsletter-subscription__title {
    font-size: 1.6em;
  }
  .newsletter-subscription__description {
    font-size: 1.1em;
    margin-bottom: 42px;
  }
  .newsletter-subscription__input {
    width: 90%;
  }
  .newsletter-subscription__submit {
    margin-bottom: 0;
  }
  .newsletter-subscription__submit-container {
    align-self: flex-end;
  }
}
.attribution {
  font-size: 16px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

/*# sourceMappingURL=styles.css.map */
